<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login Page</title>
</head>
<body>
	<div th:if="${param.error}" style="color: red">
		Login Failed
	</div>
	<div>
		<form th:action="@{/user/login}" method="post">
			<p>
				user name: <input type="text" name="username" />
			</p>
			<p>
				password: <input type="password" name="password" />
			</p>
			
			<input type="submit" value="Login" />
		</form>
	</div>
</body>
</html>